@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.15px;
  background-color: #f5f5f5;
}
a {
  color: inherit;
}
[class*="__container"] {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.main {
  flex-grow: 1;
}
.titles__label {
  background-image: url("../img/who-we-are-img.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 24px;
  margin-bottom: 33px;
  text-transform: uppercase;
}
.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  width: 585px;
  margin-bottom: 36px;
}
.titles *:not(:last-child) {
  margin-bottom: 33px;
}
.header__inner {
  background-image: url("../img/header__img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  color: #fff;
}
.header__top {
  padding-top: 26px;
  margin-bottom: 126px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
}
.service-hours {
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 22px;

  font-weight: 700;
  text-align: left;
  align-items: left;
}

.service__title {
  text-transform: uppercase;
}
.service-hours__date {
}
.call-us {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;

  line-height: 22px;
  letter-spacing: 0.15px;
  font-weight: 500;
  text-align: left;
  align-items: left;
}
.call-us__title {
  font-weight: 700;
}

.main-button {
  width: 210px;
  height: 40px;
  background-color: #c40b0b;
  color: #fff;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 170px 0;
}
.button__link {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: -25px;
}
.button__header {
  margin-left: 32px;
}
/* .header__nav {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.nav__link {
}
.nav__interractive {
}
.nav__search {
  display: inline-block;
}
.nav__cart {
  display: inline-block;
} */

.header__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  height: 112px;
  width: 585px;
  margin-bottom: 48px;
}

/* end header */
/* start about */

.about {
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 110px;
  margin-top: -210px;
}

.about__inner {
  padding-left: 85px;
  max-width: 846px;
}
.about__header {
  padding-top: 80px;
}

.about__description {
  width: 846px;
}
.about__description p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 54px;
}
.about__image {
  margin-top: -120px;
}
/* end about */
/* start promise */
.promise {
  margin-bottom: 121px;
}
.promise__header {
  margin-bottom: 68px;
}

.promise__items {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
}
.promise__item {
  padding: 0 12px;
  flex: 0 1 33.333%;
  min-width: 260px;
}
.item-promise {
  display: flex;
  align-items: flex-start;
  column-gap: 23px;
}
.item-promise__icon {
  flex: 0 0 63px;
}
.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.36;
  padding-bottom: 20px;
}

.item-text {
  font-size: 16px;
  font-weight: 400;
}
/* end promise */
/* start popup */
/* --------- */
/* end popup */
/* start services */
.services {
  padding: 110px 0 122px 0;
  background-color: #f5f5f5;
}
.services__container {
  display: flex;
  flex-direction: column;
}
.services__header {
  margin-bottom: 78px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  row-gap: 24px;
}
.services__items:not(:last-child) {
  margin: 0 0 66px 0;
}
.services__item {
  padding: 0 12px;
  flex: 1 1 33.333%;
  min-width: 300px;
}
.item-services {
  background-color: #fff;
  padding: 50px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}
.item-services:hover {
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.item-services__icon {
  flex: 0 0 63px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.item-services__icon img {
  max-width: 100%;
  max-height: 63px;
}
.item-services__icon:not(:last-child) {
  margin: 0 0 33px 0;
}
.services__button {
  display: block;
  align-self: center;
  background-color: #f2726f;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  padding: 12px 25px;
}
.item-services__title:not(:last-child) {
  margin: 0 0 20px 0;
}

.item-services__text:not(:last-child) {
  margin: 0 0 20px 0;
}

/* end our services */
/* start customers */
.customers {
  margin-bottom: 210px;
}

.customers__inner {
  display: flex;
  justify-content: space-between;
}
.customers__title {
  padding-top: 0;
  width: 330px;
}

.customers__blockquote {
  min-width: 324px;
  min-height: 240px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.customers__blockquote:not(:last-child) {
  margin-right: 24px;
}
.customers__first-comment {
  font-weight: 400;
  color: #4b4b4b;
  padding: 50px 43px 45px 43px;
}
.customers__second-comment {
  padding: 50px 43px 45px 43px;
}

.author__avatar {
  margin-top: -10px;
  padding-right: 17px;
}
.author__name {
  color: #02133c;
  font-weight: 700;
}
/* end customers  */
/* start impact */
.impact {
  background-color: #02133c;
  padding: 0 0 212px 0;
}

.impact__body {
  display: flex;
  position: relative;
  margin: 0 -15px;
}
.impact__body:not(:last-child) {
  margin-bottom: 80px;
}
.impact__content {
  color: #fff;
  padding: 20px 15px 0 15px;
  align-self: flex-end;
  flex: 0 1 50%;
}
.impact__header {
  max-width: 410px;
}
.impact__image {
  margin: -80px 0 0 0;
  padding: 0 15px;
  flex: 0 1 50%;
}
.impact__image img {
  max-width: 100%;
}
.impact__items {
  margin: 0 -12px;
  display: flex;
  row-gap: 24px;
  align-items: flex-start;
}
.impact__item {
  padding: 0 12px;
  flex: 0 1 25%;
}
.item-impact {
  display: flex;
  align-items: flex-start;
  column-gap: 11px;
}
.item-impact__icon {
  flex: 0 0 76px;
}
.item-impact__body {
  align-self: center;
}
.item-impact__value {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  color: #c40b0b;
}
.item-impact__value:not(:last-child) {
  margin: 0 0 3px 0;
}
.item-impact__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}

/* end impact */
.footer {
  margin-top: 85px;
}
.footer-logo svg > path:nth-child(1) {
  fill: #02133c;
}
.footer__descr p {
  font-size: 14px;
  line-height: 22px;
  width: 235px;
}
