@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.15px;
  background-color: #f5f5f5;
}
a {
  color: inherit;
}
[class*="__container"] {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.titles__label {
  background-image: url("../img/who-we-are-img.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 24px;
  margin-bottom: 33px;
  text-transform: uppercase;
}
.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  width: 585px;
  margin-bottom: 36px;
}
.titles *:not(:last-child) {
  margin-bottom: 33px;
}
.header__inner {
  background-image: url("../img/header__img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  color: #fff;
}
.header__top {
  padding-top: 26px;
  margin-bottom: 126px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
}
.service-hours {
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 22px;

  font-weight: 700;
  text-align: left;
  align-items: left;
}

.service__title {
  text-transform: uppercase;
}
.service-hours__date {
}
.call-us {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;

  line-height: 22px;
  letter-spacing: 0.15px;
  font-weight: 500;
  text-align: left;
  align-items: left;
}
.call-us__title {
  font-weight: 700;
}

.main-button {
  width: 210px;
  height: 40px;
  background-color: #c40b0b;
  color: #fff;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 170px 0;
}
.button__link {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: -25px;
}
.button__header {
  margin-left: 32px;
}
/* .header__nav {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.nav__link {
}
.nav__interractive {
}
.nav__search {
  display: inline-block;
}
.nav__cart {
  display: inline-block;
} */

.header__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  height: 112px;
  width: 585px;
  margin-bottom: 48px;
}

/* end header */
/* start about */

.about {
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 110px;
  margin-top: -210px;
}

.about__inner {
  padding-left: 85px;
  max-width: 846px;
}
.about__header {
  padding-top: 80px;
}

.about__description {
  width: 846px;
}
.about__description p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 54px;
}
.about__image {
  margin-top: -120px;
}
/* end about */
/* start promise */
.promise {
  margin-bottom: 121px;
}
.promise__header {
  margin-bottom: 68px;
}

.promise__items {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
}
.promise__item {
  padding: 0 12px;
  flex: 0 1 33.333%;
  min-width: 260px;
}
.item-promise {
  display: flex;
  align-items: flex-start;
  column-gap: 23px;
}
.item-promise__icon {
  flex: 0 0 63px;
}
.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.36;
  padding-bottom: 20px;
}

.item-text {
  font-size: 16px;
  font-weight: 400;
}
/* end promise */
/* start popup */
/* --------- */
/* end popup */
/* start our services */
.our-services {
  background-color: #f5f5f5;
}
.our-services__inner {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  grid-template-rows: repeat(2, 340px);
  grid-gap: 24px;
  text-align: center;
  margin-bottom: 66px;
}
.item-services__image {
  padding-top: 50px;
}
.our-services__item {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  color: #4b4b4b;
  padding-left: 43px;
  padding-right: 46px;
}
.our-services__item:hover {
  filter: drop-shadow(0px 5px 10px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 5px 10px rgba(38, 38, 38, 0.2));
}
.item-services__title {
  padding-top: 33px;
  color: #02133c;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}
.button-promise {
  margin-left: 400px;
  margin-bottom: 122px;
}
/* end our services */
/* start customers */
.customers {
  margin-bottom: 210px;
}

.customers__inner {
  display: flex;
  justify-content: space-between;
}
.customers__title {
  padding-top: 0;
  width: 330px;
}

.customers__blockquote {
  min-width: 324px;
  min-height: 240px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.customers__blockquote:not(:last-child) {
  margin-right: 24px;
}
.customers__first-comment {
  font-weight: 400;
  color: #4b4b4b;
  padding: 50px 43px 45px 43px;
}
.customers__second-comment {
  padding: 50px 43px 45px 43px;
}

.author__avatar {
  margin-top: -10px;
  padding-right: 17px;
}
.author__name {
  color: #02133c;
  font-weight: 700;
}
/* end customers  */
/* start impact */
.impact {
  background-color: #02133c;
  background-image: url("../img/impact__bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
}

.impact__inner {
  position: relative;
}
.impact__inner::before {
  content: "";
  background: url("../img/car__impact.jpg") 0 0 no-repeat;
  width: 500px;
  height: 315px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -80px;
}

.impact-title {
  padding-top: 112px;
  margin-bottom: 80px;
}

.preference-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 135px;
}
.preference-list__item {
  display: flex;
  align-items: center;
}
.preference-image {
  padding-right: 11px;
}
.preference__title {
  color: #c40b0b;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
}
.preference__text {
  color: #f5f5f5;
  font-size: 16px;
}
.impact__sed-do {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: -80px; */
  padding-right: 76px;
}
.sed-do__title {
  color: #02133c;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  width: 690px;
  padding: 23px 101px 28px 70px;
}

/* end impact */
.footer {
  margin-top: 85px;
}
.footer-logo svg > path:nth-child(1) {
  fill: #02133c;
}
.footer__descr p {
  font-size: 14px;
  line-height: 22px;
  width: 235px;
}
